beautifulsoup4==4.9.0
bs4==0.0.1
lxml==4.9.1
mysql-connector-python==8.0.19
numpy==1.18.4
pandas==1.0.3
pandas-datareader==0.8.1
requests==2.23.0
soupsieve==2.0
telegram==0.0.1
telepot==12.7
yahoo-finance==1.4.0
yfinance==0.1.54
